.header{
    height: 100px;
    background-color:#252525 ;
}

.searchtab{
    border: none;
    background-color: transparent;
    /* color: aqua;
    width: 20vw; */
}

.searchtab:focus{
    border-color: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
}

.searchBtn{

    background-color: #c09578;
    color: white;
    border: none;
}

.searchBtn:hover{

    background-color: #b1866a;
}





